@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #cfcfcf;
}

h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    letter-spacing: 4px;
    margin: 25px 0 15px 0;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
    margin: 10px 30%;
}

.image-container img {
    width: 100%;
    margin-top: 6px;
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    .image-container {
        margin: 10px;
    }
}

